h1 {
    color: brown;
}
h2 {
    color:blueviolet
}
h3 {
    color:darkolivegreen
}
h4 {
    color: darkcyan;
}
h5 {
    color:gold
}
h6 {
    color:lightgreen
}
.novo-paragrafo-primeiro {

    color: grey;
}

.novo-paragrafo-segundo {

    color:darkgoldenrod;
}